html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #FBFAF9;
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.container {
  padding: 0 108px;
  margin: 0 auto;
  width: 100%;
}

main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 84px;
  background: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgb(255, 255, 255);
  box-shadow:
          inset 0 4px 30px rgba(0, 0, 0, 0.04);

  .menu {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.decor-left, .decor-right {
  position: absolute;
  z-index: -1;
  width: 644px;
  height: 644px;
  filter: blur(150px);
  border-radius: 50%;
  background: radial-gradient(
                  circle,
                  #D6E6F9 0%,
                  #D6E6F9 70%,
                  #FFFFFF 100%
  );
}

.decor-left {
  top: -250px;
  left: -250px;
}

.decor-right {
  bottom: -250px;
  right: -250px;
}

.glass {
  width: 500px;
  position: absolute;
  bottom: 50px;
  
  p {
    font-size: 20px;
    text-align: center;
    animation: uptop 5s infinite;
  }

  img {
    z-index: 5;
  }
}

$bars: 9;
$bar-width: 12px;
$bar-height: 88px;
$duration: 2.4s;
$heights: 15, 49, 89, 33, 49, 85, 81, 29, 15;

.loader {
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: center;
  height: $bar-height;

  span {
    width: $bar-width;
    border-radius: 12px;

    @for $i from 1 through $bars {
      &:nth-child(#{$i}) {
        height: nth($heights, $i) + px;
      }
    }

    background: linear-gradient(
                    to right,
                    rgba(188, 232, 255, 1) 0%,
                    rgba(218, 244, 255, 0.94) 49%,
                    rgba(191, 216, 255, 0.89) 78%,
                    rgba(164, 188, 255, 0.85) 100%
    );

    opacity: 0;
    animation: loading $duration ease-in-out infinite;
  }

  @for $i from 1 through $bars {
    span:nth-child(#{$i}) {
      animation-delay: ($i - 1) * ($duration / ($bars * 2));
    }
  }
}

@keyframes loading {
  0% { opacity: 0; }
  25% { opacity: 1; }
  50% { opacity: 1; }
  75% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes uptop {
  0% { transform: translateX(80px); }
  50% { transform: translateX(0); }
  100% { transform: translateX(80px); }
}

.liqui-wrapper {
  position: absolute;
  border: 1px solid white;
  top: 50%;
  left: 50%;
  border-radius: 8px;
  transform: translate(-50%, -50%);
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  padding: 0 18px;
  cursor: pointer;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
}

.liqui-effect {
  position: absolute;
  z-index: 0;
  inset: 0;
  border-radius: 8px;
  backdrop-filter: blur(2px);
  filter: url(#glass-distortion);
  overflow: hidden;
  isolation: isolate;
}

.liqui-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.liqui-tint {
  z-index: 1;
  border-radius: 8px;
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.25);
}

.liqui-text {
  z-index: 3;
  display: flex;
  gap: 8px;
}

@keyframes moveBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0% -500%;
  }
}
